.pause-screen {
  position: fixed;
  inset: 0;
  z-index: 100;
}

.pause-screen::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}
.pause-screen-content {
  position: fixed;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  height: 330px;
  z-index: 100;
  border-radius: 20px;

  background-color: #f4f4f4;
  background-image: radial-gradient(#00000010 1px, transparent 1px);
  background-size: 4px 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .resume-button {
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding: 16px 32px;
    border-radius: 12px;
    border: none;
    background: #ff7a00;
    color: white;
    cursor: pointer;
    box-shadow: 0 8px 0 #d65f00;
    transition:
      transform 0.1s,
      box-shadow 0.1s;

    &.disabled {
      color: rgba(255, 255, 255, 0.507);
      cursor: wait;
      background: #ff7b0073;
      transform: translateY(6px);
      box-shadow: 0 2px 0 #d65f00;
    }
  }
}
