.splash-screen {
  user-select: none;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  background-image: radial-gradient(#00000010 1px, transparent 1px);
  background-size: 4px 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.title {
  font-size: 36px;
  animation: float 0.5s infinite ease-out;
}

.controls {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.start-button {
  letter-spacing: 3px;
  font-size: 1.5rem;
  padding: 16px 32px;
  border-radius: 12px;
  border: none;
  background: #ff7a00;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 0 #d65f00;
  transition:
    transform 0.1s,
    box-shadow 0.1s;
}

.start-button:hover {
  transform: translateY(2px);
  box-shadow: 0 6px 0 #d65f00;
}

.start-button:active {
  transform: translateY(6px);
  box-shadow: 0 2px 0 #d65f00;
}

.loading-text {
  font-size: 2vw;
  animation: swell 2s infinite ease-in-out;
}

@keyframes swell {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
